.App {
  position:absolute;  
  text-align: center;
  /* background-color:#000000dc; */

  /* background: #5C258D;  
  background: -webkit-linear-gradient(to right, #4389A2, #5C258D); 
  background: linear-gradient(to right, #4389A2, #5C258D);  */

  /* background: #c31432; 
  background: -webkit-linear-gradient(to right,  #c31432, #240b36);  
  background: linear-gradient(to right, #c31432, #240b36);  */
  
  /* background: #373B44;  
  background: -webkit-linear-gradient(to right, #4286f4, #373B44); 
  background: linear-gradient(to right, #4286f4, #373B44);  */

  /* background: #b92b27;  
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27); 
  background: linear-gradient(to right, #1565C0, #b92b27); */
  
  background: #8E2DE2; 
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
  background: linear-gradient(to right, #4A00E0, #8E2DE2); 

  /* background: #355C7D;  
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  */

  /* background: #0f0c29;  
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  */

  /* background: #C33764;  
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
  background: linear-gradient(to right, #1D2671, #C33764);  */

  /* background: #DC2424;  
  background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  
  background: linear-gradient(to right, #4A569D, #DC2424);  */


  width: 100%;
  height:100%;
}

.ToolBar{
  position:absolute; 
  /* position:fixed */
  text-align: center;
  background-color:rgba(0, 0, 0, 0.7);
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  width:60px;
  height: 100%;
  top:0%;
  left:0%;
}



.HomeButton{
  background-color:rgba(8, 8, 8, 0.685);
  color:white;  
  border: none;
  
  font-size: 150%;
  width:60px;
  height:60px;
}

.MeButton{
  background-color:rgba(8, 8, 8, 0.685);
  color:white;  
  border: none;
  
  font-size: 150%;
  width:60px;
  height:60px;
}

.SkillsButton{
  background-color:rgba(8, 8, 8, 0.685);
  color:white;  
  border: none;
  
  font-size: 150%;
  width:60px;
  height:60px;
}

.ProjectsButton{
  background-color:rgba(8, 8, 8, 0.685);
  color:white;  
  border: none;
  
  font-size: 150%;
  width:60px;
  height:60px;
}

.ContactButton{
  background-color:rgba(8, 8, 8, 0.685);
  color:white;  
  border: none;
  
  font-size: 150%;
  width:60px;
  height:60px;
}

.HomeButton:hover{
  background-color: rgba(140, 19, 253, 0.664);
}
.MeButton:hover{
  background-color: rgba(140, 19, 253, 0.664);
}
.SkillsButton:hover{
  background-color: rgba(140, 19, 253, 0.664);
}
.ProjectsButton:hover{
  background-color: rgba(140, 19, 253, 0.664);
}

.ContactButton:hover{
  background-color: rgba(140, 19, 253, 0.664);
}


.HomeText {
  position:absolute; 
  left: 10%;
  top: 33.33%;
  height: 30%;
  
  color: rgb(0, 0, 0);
  opacity: 0.9;
  font-size: 40px;
  font-weight: 1000;
  text-align: left;
  line-height: 0.4;
}

.Name {
  color: #40e0d0;
}

.Smile{
  color: #ff0000;
}

.AboutPage {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;

}

.ProjectPage {
  position:absolute; 
  left: 10%;
  top: 10%;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;

}

.ContactPage {
  position:absolute; 
  width: 70%;
  height: 70%;
  left: 10%;
  top: 10%;
  background-color: white;
}